<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
  <input type="hidden" name="hotelId" [value]="hotelService.formDataHotel.hotelId">

  <div class="form-group">
    <label></label>
    <input type="text" placeholder="Hotel Name" class="form-control" name="hotelName" #hotelName="ngModel"
      [(ngModel)]="hotelService.formDataHotel.hotelName" (change)='onOptionsSelected(hotelName.value)' required
      [class.invalid]="hotelName.invalid && hotelName.touched">
    <div [hidden]="hotelName.valid || hotelName.pristine" class="alert alert-danger">
      Bu alan boş bırakılamaz
    </div>
  </div>

  <div class="form-group">
    <label></label>
    <select class="form-control" name="cityName" #cityName="ngModel" [(ngModel)]="hotelService.formDataHotel.hotelCity"
      (change)='onOptionsSelected(cityName.value)' required [class.invalid]="cityName.invalid && cityName.touched">
      <option value="" disabled selected hidden>Hotel City</option>
      <!--Düzeltilmesi Gerekiyor-->
      <option *ngFor="let item of areaService.listCity" value={{item.cityName}}>{{item.cityName}}</option>
    </select>
  </div>
  <!--
  <div class="form-group">
    <label></label>
    <input type="text" placeholder="Hotel District" class="form-control" name="hotelDistrict" #hotelDistrict="ngModel"
      [(ngModel)]="hotelService.formDataHotel.hotelDistrict" required
      [class.invalid]="hotelDistrict.invalid && hotelDistrict.touched">
    <div [hidden]="hotelDistrict.valid || hotelDistrict.pristine" class="alert alert-danger">
      Bu alan boş bırakılamaz
    </div>
  </div> -->

  <div class="form-group">
    <label></label>
    <select class="form-control" name="districtName" #districtName="ngModel"
      [(ngModel)]="hotelService.formDataHotel.hotelDistrict" required
      [class.invalid]="districtName.invalid && districtName.touched">
      <option value="" disabled selected hidden>Hotel District</option>
      <!--Düzeltilmesi Gerekiyor-->
      <option *ngFor="let item of responseDisricts" value={{item.districtName}}>{{item.districtName}}</option>
    </select>
  </div>



  <div style="margin-top: 0.5rem;" class="form-group">
    <button class="btn btn-outline-secondary" type="submit" [disabled]="form.invalid">Kaydet</button>
  </div>

</form>
