<div class="container" style="margin-top: 3rem;">
  <div class="row">
    <div class="col-md-12">
      <div style="text-align: center; margin-bottom: 1rem;">
        <h1>Home Component</h1>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat dolorem cumque reprehenderit in odit amet ipsa
        explicabo officia provident ducimus, quas veritatis nemo assumenda aliquid deleniti. In cupiditate ratione
        tenetur
        earum, odio eius distinctio omnis! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, voluptatum,
        eius deserunt dolor quaerat accusamus, dolore molestiae officia doloribus dicta aliquid. Officia numquam
        obcaecati similique maiores dolor. Molestias quasi nobis voluptatum aperiam quaerat. Quasi, minima magni, nam
        autem quisquam tempore dolore incidunt mollitia nulla placeat impedit est esse assumenda, pariatur commodi
        maiores aperiam culpa animi facere corporis recusandae veritatis laudantium! Accusamus labore inventore iure a
        fugit deserunt veniam delectus. Corporis pariatur est, harum obcaecati consectetur earum reprehenderit molestiae
        ipsum rerum beatae labore assumenda enim voluptate, nemo eveniet temporibus facilis facere totam, sit
        necessitatibus error? Necessitatibus modi laborum dolorem molestias odio in! Dolorum a possimus consectetur
        voluptatem modi ipsam accusantium reprehenderit et nostrum iste quaerat culpa, temporibus suscipit? Sunt,
        perspiciatis facilis necessitatibus molestias ducimus reiciendis deserunt dolorem, assumenda quod corrupti illo!
        Ea iusto officiis praesentium sint autem, tempora recusandae omnis reprehenderit ullam a sequi eveniet iste
        veniam? Voluptatibus, rem laboriosam! Laboriosam, inventore facilis? Soluta sunt earum eos veritatis id dicta
        dolor dolores voluptates deleniti! Inventore perferendis pariatur consequuntur placeat error animi porro!
        Dolorem earum fuga, corrupti ea quisquam praesentium debitis! Unde, delectus modi adipisci aspernatur soluta at
        architecto vitae quis recusandae rem error provident distinctio autem ratione ullam optio tempore eos suscipit
        magni non illo aliquam? Asperiores, facere. Libero voluptatum optio doloribus at, recusandae mollitia neque
        maiores repellat rem suscipit facilis qui unde blanditiis incidunt. Omnis at excepturi eum harum quos velit
        delectus reiciendis, debitis totam commodi ad explicabo laudantium! Quidem, iusto sit ipsam dolore voluptates
        eveniet non ullam architecto incidunt.</p>
    </div>
  </div>
</div>
